<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143709903654-r1rke4a34ceppu8bb89pnd01jcfhbn1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143709903654-r1rke4a34ceppu8bb89pnd01jcfhbn1b</string>
	<key>API_KEY</key>
	<string>AIzaSyBVBuCVpZRHL9vf2PD67ItJ_YqBZtpCWAI</string>
	<key>GCM_SENDER_ID</key>
	<string>143709903654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flaw.bookmarker</string>
	<key>PROJECT_ID</key>
	<string>bookmarker-990ce</string>
	<key>STORAGE_BUCKET</key>
	<string>bookmarker-990ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143709903654:ios:f08bdba15e1e7ed380ffe7</string>
</dict>
</plist>